# SQL help
---

оператор | значение 
---------|---------
SELECT |'столбцы или * для выбора всех столбцов; обязательно'
FROM |'таблица; обязательно'
WHERE |'условие/фильтрация, например, city = 'Moscow'; необязательно'
GROUP BY |'столбец, по которому хотим сгруппировать данные; необязательно'
HAVING |'условие/фильтрация на уровне сгруппированных данных; необязательно'
ORDER BY |'столбец, по которому хотим отсортировать вывод; необязательно'

Руководство по стилю 
---

https://www.sqlstyle.guide/ru/

Форматирование запросов
---

https://codebeautify.org/sqlformatter


# Функции

Функция    |Описание|Пример
----------|--------|------
CEILING(x)|	возвращает наименьшее целое число, большее или равное x(округляет до целого числа в большую сторону)	|CEILING(4.2)=5 CEILING(-5.8)=-5
ROUND(x, k)|	округляет значение x до k знаков после запятой, если k не указано – x округляется до целого	| ROUND(4.361)=4 ROUND(5.86592,1)=5.9
FLOOR(x)|	возвращает наибольшее целое число, меньшее или равное x (округляет до  целого числа в меньшую сторону)|	FLOOR(4.2)=4 FLOOR(-5.8)=-6
POWER(x, y)|	возведение x в степень y	|POWER(3,4)=81.0
SQRT(x)|	квадратный корень из x|	SQRT(4)=2.0 SQRT(2)=1.41...
DEGREES(x)	|конвертирует значение x из радиан в градусы	|DEGREES(3) = 171.8...
RADIANS(x)	|конвертирует значение x из градусов в радианы	|RADIANS(180)=3.14...
ABS(x)	|модуль числа x	|ABS(-1) = 1 ABS(1) = 1
PI()	|pi = 3.1415926...	 |


[Описание всех функций](https://docs.microsoft.com/ru-ru/sql/t-sql/functions/mathematical-functions-transact-sql?view=sql-server-ver15)