# SQL help
---

оператор | значение 
---------|---------
SELECT |'столбцы или * для выбора всех столбцов; обязательно'
FROM |'таблица; обязательно'
WHERE |'условие/фильтрация, например, city = 'Moscow'; необязательно'
GROUP BY |'столбец, по которому хотим сгруппировать данные; необязательно'
HAVING |'условие/фильтрация на уровне сгруппированных данных; необязательно'
ORDER BY |'столбец, по которому хотим отсортировать вывод; необязательно'

Руководство по стилю 
---

https://www.sqlstyle.guide/ru/

Форматирование запросов
---

https://codebeautify.org/sqlformatter


# Функции

Функция    |Описание|Пример
----------|--------|------
CEILING(x)|	возвращает наименьшее целое число, большее или равное x(округляет до целого числа в большую сторону)	|CEILING(4.2)=5 CEILING(-5.8)=-5
ROUND(x, k)|	округляет значение x до k знаков после запятой, если k не указано – x округляется до целого	| ROUND(4.361)=4 ROUND(5.86592,1)=5.9
FLOOR(x)|	возвращает наибольшее целое число, меньшее или равное x (округляет до  целого числа в меньшую сторону)|	FLOOR(4.2)=4 FLOOR(-5.8)=-6
POWER(x, y)|	возведение x в степень y	|POWER(3,4)=81.0
SQRT(x)|	квадратный корень из x|	SQRT(4)=2.0 SQRT(2)=1.41...
DEGREES(x)	|конвертирует значение x из радиан в градусы	|DEGREES(3) = 171.8...
RADIANS(x)	|конвертирует значение x из градусов в радианы	|RADIANS(180)=3.14...
ABS(x)	|модуль числа x	|ABS(-1) = 1 ABS(1) = 1
PI()	|pi = 3.1415926...	 |


[Описание всех функций](https://docs.microsoft.com/ru-ru/sql/t-sql/functions/mathematical-functions-transact-sql?view=sql-server-ver15)

###SQL - Оператор LIKE
Оператор LIKE используется в предложении WHERE для поиска заданного шаблона в столбце.

В сочетании с оператором LIKE используются два подстановочных знака:

- % Знак процента представляет нулевой, один или несколько символов
- _ Подчеркнутый символ представляет собой один символ

```SQL
SELECT column1, column2,  
  FROM table_name  
 WHERE columnN LIKE pattern; 
```

Выражение |	Описание
-|-
WHERE name LIKE 'text%'	|Находит любые значения, начинающиеся с "text"
WHERE name LIKE '%text'	|Находит любые значения, заканчивающиеся на "text"
WHERE name LIKE '%text%'	|Находит любые значения, которые имеют «text» в любой позиции
WHERE name LIKE '_text%'	|Находит любые значения, которые имеют «text» во второй позиции
WHERE name LIKE 'text_%_%'	|Находит любые значения, начинающиеся с «text» и длиной не менее 3 символов
WHERE name LIKE 'text%data'	|Находит любые значения, начинающиеся с «text» и заканчивающиеся на «data»

## Оператор LIMIT  

Для ограничения вывода записей в SQL используется оператор LIMIT , после которого указывается количество строк. 
Результирующая таблица будет иметь количество строк не более указанного после LIMIT. LIMIT размещается после раздела ORDER BY.

# [Глосарий SQL на Stepik !!!](https://stepik.org/lesson/583183/step/1?unit=577913)

---

# Создание таблицы с внешними ключами
При создании зависимой таблицы (таблицы, которая содержит внешние ключи) необходимо учитывать, что :

- каждый внешний ключ должен иметь такой же тип данных, как связанное поле главной таблицы (в наших примерах это INT);
- необходимо указать главную для нее таблицу и столбец, по которому осуществляется связь:

    FOREIGN KEY (связанное_поле_зависимой_таблицы)  
    REFERENCES главная_таблица (связанное_поле_главной_таблицы)


# Соединение INNER JOIN  

Оператор внутреннего соединения INNER JOIN соединяет две таблицы. Порядок таблиц для оператора неважен, поскольку оператор является симметричным.

    SELECT
    ...
    FROM
        таблица_1 INNER JOIN  таблица_2
        ON условие
    ...

Результат запроса формируется так:

каждая строка одной таблицы сопоставляется с каждой строкой второй таблицы;
для полученной «соединённой» строки проверяется условие соединения;
если условие истинно, в таблицу результата добавляется соответствующая «соединённая» строка;
Пример

Вывести название книг и их авторов.

Запрос:

```sql
SELECT title, name_author
FROM 
    author INNER JOIN book
    ON author.author_id = book.author_id;
```

count(DISTINCT name_genre) <<<--- ( ! ) показывает количество унекальныйх значений


Премер 
```SQL
  SELECT name_author
    FROM book b LEFT JOIN genre g
      ON b.genre_id = g.genre_id
                LEFT JOIN author a
      ON b.author_id = a.author_id
GROUP BY name_author
  HAVING count(DISTINCT name_genre) = 1 -- <-- ( ! )
ORDER BY name_author
```